h3 {
    color:#0b0c10;
}

a {
    text-decoration-color: #94f7ff;
}

.dossier-crest {
    max-width: 15%;
    margin-top:20px;
    img {
        max-width: 100%;
    }
}

.intel {
    width:40%;
    margin-top:200px;
}

.intel a{
    text-decoration: none;
}

.dossier-container {
    border: 1px solid #ccc;
    background-color: #3a3e50;
    border-radius:30px;
    padding:10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .language {
        width:40%;
        text-align: right;
        margin-top:200px;
        .newLang {
            color:#94f7ff;
        }
    }
}

.article-photo{
    width: 90%;
}
.photoH1, .photoH2, .photoH3, .photoH4, .photoH5 {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}